<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main-body" style="margin-left:5cm;margin-bottom: 1cm; margin-top: 30px; margin-right: 5cm">
    <div class="row">
        <div class="form-holder">
            <div class="form-profile-content ">
                <div class="form-items">
                    <h3>Edit {{user.username}} </h3>

                    <form id="registration_form" class="requires-validation" novalidate method="post">
                        <div class="col-md-12">
                            <label for="form_name">Username</label>
                            <input class="feedback-input" id="form_name" type="text" name="name" placeholder="Username"
                                   required value="{{user.username}}">
                            <span class="error_form" id="username_error_message"></span>
                            <div class="col-md-12">
                                <label for="form_email">Email</label>
                                <input class="feedback-input" id="form_email" type="text" name="email"
                                       placeholder="Email" required value="{{user.email}}">
                                <span class="error_form" id="email_error_message"></span>
                            </div>

                            <div class="col-md-12">
                                <label for="form_city">City</label>
                                <input class="feedback-input" id="form_city" type="text" name="city"
                                       placeholder="City" required value="{{user.city}}">
                            </div>
                            <br>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" id="btnSubmit" class="btn btn-light">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>